*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.title
{
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

.navbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #237;
    color: #ccc;
    border-bottom: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuItens
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.menuItens > li > a
{
    text-decoration: none;
    color: #ccc;
}

.container
{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px 0;
    padding: 10px;
    border: #000 2px solid;
    width: 40vw;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


@media screen and (max-width: 1043px) {
    .banner
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 5px;
        width: 100vw;
        height: auto;
    }
    .navbar
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        position: relative;
    }
}